@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 625px)
{
#blocpage {
    background-color: #ffffff;
    width: 100%;
	margin: 5%;
}
}


@media screen and (max-width: 976px)
{
#blocpage {
    background-color: #ffffff;
    width: 100%;
	margin: 5%;
}
}